<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Verificable</title>
    <link rel="stylesheet" href="style_legalPerson.css">
</head>
<body>
    <h2>LegalPerson</h2>
    <form th:action="@{/startLegalPerson}" method="POST" enctype="multipart/form-data">
        <label for="verifiableId" class="bold-label">Verifiable Credential ID</label>
        <input type="text" id="verifiableId" name="verifiableId" required>

        <fieldset>
            <legend>Headquarters Address</legend>
            <div class="country-group">
                <div>
                    <label for="hqCountryCode">Country Code</label>
                    <input type="text" id="hqCountryCode" name="hqCountryCode" required>
                </div>
                <div>
                    <label for="hqCountryName">Country Name</label>
                    <input type="text" id="hqCountryName" name="hqCountryName" required>
                    <input type="hidden" id="typeJson" name="typeJson" value="LegalPerson">

                </div>
            </div>
        </fieldset>

        <label for="lrnValue" class="bold-label">Legal Registration Number (LRN) *</label>
        <select id="lrnValue" name="lrnValue" required>
            <option value="EORI">EORI</option>
            <option value="VAT_ID">VAT ID</option>
            <option value="LEI_Code">LEI Code</option>
        </select>
        <input type="text" id="lrn" name="lrn" required>

        <fieldset>
            <legend>Legal Address</legend>
            <div class="country-group">
                <div>
                    <label for="legalCountryCode">Country Code</label>
                    <input type="text" id="legalCountryCode" name="legalCountryCode" required>
                </div>
                <div>
                    <label for="legalCountryName">Country Name</label>
                    <input type="text" id="legalCountryName" name="legalCountryName" required>
                </div>
            </div>
        </fieldset>

        <button type="submit">Siguiente</button>
    </form>
</body>
</html>
