<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firmador</title>
    <link rel="stylesheet" href="style_menuPrincipal.css">

</head>
<body>
    <div class="container">    
        <h1>FIRMADOR</h1> 
        <form th:action="@{/startLegalPerson}" method="GET" enctype="multipart/form-data"> 
            <button type="submit" class="general-button">LegalPerson</button>
        </form>     
        
        <form th:action="@{/startTerminosCondiciones}" method="GET" enctype="multipart/form-data"> 
            <button type="submit" class="general-button">Terminos y Condiciones</button>
        </form>

        <form th:action="@{/startRequisitos}" method="GET" enctype="multipart/form-data"> 
            <button type="submit" class="general-button">Presentacion Verificable</button>
        </form>
    </div>
</body>
</html>
