<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce datos</title>
    <link rel="stylesheet" href="./style_peticionDatos.css">


    <script>

        function visibilidadContrasena() {
            var contrasena = document.getElementById("contrasena");
            if (contrasena.type === "password") {
                contrasena.type = "text";
            } else {
                contrasena.type = "password";
            }
        }

    </script>
</head>
<body>
    
        <div class="container">
            <form action="#" th:action="@{/upload}" method="POST" enctype="multipart/form-data" onsubmit="saveHiddenFieldsToLocalStorage()">
                <h2>Import signed documents</h2>

                <div class="error-message" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>

                <div class="form-group">
                    <label for="archivo">Archivo:</label>
                    <input type="file" name="archivo" id="archivo" required />
                </div>

                <div class="form-group">
                    <label for="seleccion">Alias:</label>
                    <select name="seleccion" id="seleccion" required>
                        <option value="1">1</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" name="contrasena" id="contrasena" required />
                </div>

                <div class="form-group">
                    <input type="checkbox" name="check" id="check" onclick="visibilidadContrasena()" />
                    <label for="check"> Mostrar contraseña</label>
                </div>

                <input type="hidden" id="typeJson" name="typeJson" th:value="${typeJson}" />
                <input type="hidden" id="jsonGenerado" name="jsonGenerado" th:value="${jsonGenerado}" />
               

                <button type="submit">Crear JWS</button>
            </form>
        </div>
    </div>
</body>
</html>
