<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cargar Documentos</title>
  <link rel="stylesheet" href="style_presenatcionVerificable.css">


</head>
<body>
  <div class="container">
    <h1>Cargar credenciales</h1>

    <div class="section">
        <h2>Buscar en la base de datos</h2>
        <form action="#" th:action="@{/buscarCredenciales}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="dniBuscar">DNI:</label>
            <input type="text" id="dniBuscar" name="dni" required>
          </div>

          <div class="form-group">
            <label for="passwordBuscar">Contraseña:</label>
            <input type="password" id="passwordBuscar" name="password" required>
          </div>

          <button type="submit">Buscar Credenciales</button>
        </form>

        <div class="mensaje">
          <p th:if="${mensaje}" th:text="${mensaje}" style="color:green;"></p>
          <p th:if="${error}" th:text="${error}" style="color:red;"></p>
        </div>
      </div>

    <div class="section">
      <h2>Cargar archivos locales (JSON)</h2>

      <div class="file-upload">
        <label for="legalPersonFile">Legal Person:</label>
        <input type="file" id="legalPersonFile" accept=".json">
      </div>

      <div class="file-upload">
        <label for="termsFile">Términos y Condiciones:</label>
        <input type="file" id="termsFile" accept=".json">
      </div>

      <div class="file-upload">
        <label for="lrnFile">Número de Registro Legal:</label>
        <input type="file" id="lrnFile" accept=".json">
      </div>
    </div>

    <button class="submit-btn">Enviar</button>
  </div>
</body>
</html>
